/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 575px) 
{
	header .header-logo {
		width: 105% !important;
		text-align: center;
	}
	header .nav-bar-middle{
		display: none;
	}
	header .nav-bar-end {
		width: 100% !important;
	}
	header .nav-bar-end a {
		padding: 15px 7px !important;
		font-size: 8px !important;
	}
	.banner .banner-slider .banner-single-slider .banner-text img {
		margin-top: 50px !important;
	}
	.banner .banner-slider .banner-single-slider .banner-text h1 {
		font-size: 28px !important;
		margin-top: 4px !important;
		margin-bottom: 40px !important;
	}
	.banner .owl-nav button {
		height: 35px !important;
		width: 15px !important;
		line-height: 15px !important;
	}
	.banner .owl-nav button span {
		font-size: 26px !important;
	}
	.blog-section .single-blog .single-blog-img .blog-img-positon{
		padding: 5px 16px !important;
	}
	.blog-section .single-blog {
		margin-bottom: 45px !important;
	}
	.blog-section .single-blog .blog-text h3{
		font-size: 20px !important;
	}
	.single-blog-img-3 h2 {
		padding-top: 70px !important;
		font-size: 30px !important;
		margin-bottom: 20px !important;
	}
	.news-letter .news-text p {
		font-size: 18px !important;
		margin-bottom: 30px !important;
	}
	.news-letter{
		padding: 50px 0 !important;
	}
	footer {
		padding: 40px 0 40px 0 !important;
	}
	footer p {
		line-height: 30px !important;
		font-size: 12px !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) 
{
	header .header-logo {
		width: 105% !important;
		text-align: center;
	}
	header .nav-bar-middle{
		display: none;
	}
	header .nav-bar-end {
		width: 100% !important;
		text-align: center;
	}
	header .nav-bar-end a {
		padding: 15px 7px !important;
		font-size: 16px !important;
	}

	.banner .banner-slider .banner-single-slider .banner-text img{
		margin-top: 70px !important;
	}
	.banner .banner-slider .banner-single-slider .banner-text h1{
		font-size: 32px !important;
	}
	.banner .banner-slider .banner-single-slider .banner-text h1{
		margin-bottom: 50px !important;
	}
	.banner .owl-nav button{
		line-height: 50px !important;
	}
	.blog-section .single-blog .single-blog-img .blog-img-positon{
		padding: 10px 18px;
	}
	.blog-section .single-blog {
		margin-bottom: 80px !important;
	}
	.single-blog-img-3 h2 {
		padding-top: 80px !important;
		margin-bottom: 30px !important;
	}
	footer{
		padding: 50px 0 !important;
	}
	footer p{
		font-size: 12px !important;
		line-height: 30px !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	header .header-logo {
		width: 106% !important;
		text-align: center;
	}
	header .nav-bar-middle{
		width: 50% !important;
	}
	header .nav-bar-end {
		width: 50% !important;
		text-align: center;
	}
	header .nav-bar-middle a,
	header .nav-bar-end a {
		padding: 24px 6px !important;
		font-size: 12px !important;
	}
	.banner .banner-slider .banner-single-slider .banner-text img {
		margin-top: 50px !important;
	}
	.banner .banner-slider .banner-single-slider .banner-text h1{
		margin-bottom: 50px !important;
	}
	.banner .owl-nav button{
		height: 70px !important;
	}
	.blog-section .single-blog {
		margin-bottom: 100px;
	}
	.single-blog-img-3 h2 {
		padding-top: 110px !important;
	}
	footer{
		padding: 80px 0 !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
	header .nav-bar-middle a,
	header .nav-bar-end a{
		font-size: 12px !important;
		padding: 28px 10px !important;
	}
	.banner .owl-nav button{
		height: 70px !important;
	}

}